<article>
  <header class="about-title">About</header>
  <section>
    <p>
      I built this application as an experiment primarily to learn how to use
      <a href="https://angular.io/">Angular 2.</a>
      It is based on my <em>real</em> blog
      <a href="http://www.sushipilgrim.com">sushipilgrim.com</a>
      The real blog is built in Wordpress and hosted on an Ubuntu VM at
      <a href="http://www.godaddy.com">Godaddy.com</a>
      For now the app is populated with dummy reviews. I have production
      experience with Angular JS and I needed a project to use to learn
      Angular 2. Since I don't have any plans to duplicate Wordpress's
      commenting or management features, this app will remain an experiment.
    </p>
    <p>
      This application is deployed on a
      <a href="https://cloud.google.com/?">Google Compute Engine VM</a>
      running a
      <a href="http://mean.io/">MEAN (MongoDB, Express, Angular, Node JS)</a>
      stack on Debian Linux.
    </p>
    <p>
      The source for this app is available on
      <a href="https://github.com/drchung5/sushipilgrim-angular-cli">Github (app)</a>.
      The source for the RESTful services used by this app is also available on
      <a href="https://github.com/drchung5/sushipilgrim-server">Github (server)</a>
    </p>
    <p>
      David Chung, <a href="mailto:dchung@dchung.com">dchung@dchung.com</a>
    </p>
  </section>
</article>