<article>

  <header>
    <span class="restaurant-name" (click)="showThisReview()">{{review.name}}</span><br>
    {{review.street}}<br>
    {{review.city}}, {{review.state}}&nbsp;&nbsp;{{review.zip}}
  </header>

  <section>
    <template ngFor let-paragraph [ngForOf]="review.text" let-i="index">

      <!--innerHTML syntax used for binding to support-->
      <!--rendering of HTML tags in bound text-->
      <!-- TODO: research what tags can be included -->
      <p *ngIf="i === 0 || expanded || !enableAccordian"
         [innerHTML]="paragraph"
         [ngClass]="{sushiFadeLastLine:i === 0 && !expanded && enableAccordian}">
      </p>

      <template [ngIf]="i === 0 && !expanded && enableAccordian">
        <div class="continue" (click)="more()">
          <span class="sushi-hidden">{{review.name}}&nbsp;</span><span>Full Review &raquo;</span>
        </div>
        <hr class="clear">
      </template>

      <div *ngIf="i === (review.text.length-1) && expanded && enableAccordian" class="continue" (click)="more()">
        <span>&laquo; Minimize Review</span>
      </div>

    </template>
  </section>

  <!--Only display footer if review is expanded-->
  <footer class="clear" *ngIf="expanded || !enableAccordian">
    {{review.name}}<span class="rice-bowl-detail"> &mdash; {{review.rating}} rice bowl<span *ngIf="review.rating > 1">s</span></span>
      <div class="rice-bowls">
        <img *ngFor="let bowl of riceBowls; let i = index" class="rice-bowl" [src]="bowl?colorBowl:greyBowl"/>
      </div>
  </footer>

</article>