article {
  padding: 0 1em 0 1em;
}

section p:first-child {
  margin-top: 1em;
}

.continue {
  color: red;
  font-size: smaller;
  cursor: pointer;
  float: right;
  border: black 1px solid;
  border-radius: .75em;
  margin-bottom: .5em;
  padding: .2em .4em;
}

.continue:hover {
  font-style: italic;
}

.continue > span {
  /*float: right;*/
}

.sushi-hidden {
  display: none;
}

footer {
  margin-top: 0.5em;
  padding: .5em;
  border: 1px black solid;
  background-color: lightgray;
  font-style: italic;
  margin-bottom: 1.5em;
}

.clear {
  clear: both;
}

.rice-bowls {
  display: inline-block;
  float: right;
}

.restaurant-name {
  font-weight: 900;
  font-size: 1.2em;
}

.restaurant-name:hover {
  font-style: italic;
  cursor: pointer;
  text-decoration: underline;
}

.sushiFadeLastLine {
  height: 2.5em;
  overflow: hidden;
}

.rice-bowl {
  width: 25px;
  padding-bottom: .3em;
}

.rice-bowl-detail {
  display: none;
}


/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

  .sushiFadeLastLine {
    height: 4em;
    overflow: hidden;
  }

  .rice-bowl-detail {
    display: inline-block;
  }

  .rice-bowl {
    width: 30px;
    padding-bottom: .1em;
  }

  .sushi-hidden {
    display: inline-block;
  }

  .continue {
    border: none;
    margin-bottom: 0px;
    padding: 0px;
  }
}
