<header>
  <div class="sushi-breadcrumb"
       *ngFor="let pathSegment of path; let i = index"
       (click)="doBreadcrumbNav(i)">{{pathSegment}}&nbsp;</div>
  <img id="hamburger" (click)="onHamburger()" src="../../../images/hamburger..png"/>
</header>

<review *ngFor="let review of reviews" [review]="review" [enableAccordian]="enableAccordian"></review>

<!--<state-list></state-list>-->

<footer *ngIf="currentPage != 0 || hasMorePages">
  <nav *ngIf="currentPage != 0" class="prev">
    <a href="#" [routerLink]="['/'+selectedState]" [queryParams]={page:currentPage-1}>&laquo; Prev Page</a>
  </nav>
  <nav *ngIf="hasMorePages" class="next">
    <a href="#" [routerLink]="['/'+selectedState]" [queryParams]={page:currentPage+1}>Next Page &raquo;</a>
  </nav>
</footer>