<header *ngIf="page !== 0 || hasMorePages">
  <nav *ngIf="page !== 0" class="prev">&laquo; Prev Page</nav>
  <nav *ngIf="hasMorePages" class="next"><a href="#">Next Page &raquo;</a></nav>
</header>

<review *ngFor="let review of reviews" [review]="review" [enableAccordian]="enableAccordian"></review>

<footer *ngIf="page !== 0 || hasMorePages">
  <nav *ngIf="page !== 0" class="prev">&laquo; Prev Page</nav>
  <nav *ngIf="hasMorePages" class="next"><a href="#">Next Page &raquo;</a></nav>
</footer>