header {
  margin-bottom: 0.5em;
}

#state-list-container {
  display: none;
}

/*section {*/
  /*width: auto;*/
  /*overflow: hidden;*/
  /*padding-right: 1em;*/
/*}*/


@media (min-width: 768px) {
  #state-list-container {
    display: block;
  }
}