header {
  margin-bottom: 0.5em;
}


/*section {*/
  /*width: auto;*/
  /*overflow: hidden;*/
  /*padding-right: 1em;*/
/*}*/

aside {
  margin-left: .7em;
  float: right;
  width: 150px;
}

section {
  width: auto;
  overflow: hidden;
}


@media (min-width: 768px) {

}