nav {
  font-size: 0.9em;
  padding-left: 0em;
  padding-top: 0.5em;
  margin-left: 0em;
  border-top: lightgray solid 1px;
}
ul {
  margin:0;
}

li {
  list-style: none;
  border: black 1px solid;
  padding: .5em 0 .5em 0.5em;
}


.selected {
  display: inline-block;
  width: 0.9em;
}

.link {
  display: inline-block;
  padding-left: 0em;
  margin-left: -0.2em;
  color: blue;
}

.link:hover {
  font-style: italic;
  color: blue;
  cursor: pointer;
  text-decoration: underline;
}

@media (min-width: 768px) {

  li {
    border: none;
    padding: 0;
  }

}